@model List<MIS_Healthcare.UI.DTOs.Doctor.DoctorToRead>

@{
    ViewData["Title"] = "Doctors List";
}

<a asp-action="Create" class="btn btn-success mt-4">Create New</a>
<hr />
<!-- Search Form -->
<form asp-action="Index" method="get" class="form-inline mb-4">
    <div class="form-group mb-2">
        <input type="text" name="doctorType" class="form-control form-control-sm mr-2 mb-2" placeholder="Search by Doctor Type" value="@ViewBag.DoctorType" style="width: 400px;" />
        <button type="submit" class="btn btn-primary btn-sm">Search</button>
    </div>
</form>


<hr />
<div class="container mt-4">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var doctor in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            <span>@doctor.FirstName @doctor.LastName</span>
                            <form asp-action="Delete" asp-route-id="@doctor.DoctorID" method="post" class="mb-0" onsubmit="return confirm('Are you sure you want to delete this doctor?');">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Gender:</strong> @doctor.Gender</p>
@*                             <p class="card-text"><strong>Age:</strong> @doctor.Age</p>
                            <p class="card-text"><strong>Contact:</strong> @doctor.ContactNumber</p>
                            <p class="card-text"><strong>Email:</strong> @doctor.EmailID</p>
 *@                            <p class="card-text"><strong>Qualification:</strong> @doctor.Qualification</p>
                            <p class="card-text"><strong>Doctor Type:</strong> @doctor.DoctorType</p>
                            <p class="card-text"><strong>Entry Charge:</strong> $@doctor.EntryCharge</p>
                            <a href="@Url.Action("Edit", "Doctors", new { id = doctor.DoctorID })" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No doctors found.
                </div>
            </div>
        }
    </div>
</div>
