@model List<MIS_Healthcare.UI.DTOs.Appointment.AppointmentToRead>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Appointments Dashboard</h2>
<hr/>
<div class="text-left mt-3 mb-2">
    <a href="@Url.Action("Create", "Appointments")" class="btn btn-primary">Create New Appointment</a>
</div>

<div class="row">
    @foreach (var appointment in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    
                    <h3 class="card-title">Doctor: @appointment.DoctorName</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Patient: @appointment.PatientName</h4>
                    <p class="card-text">
                        Concern:@appointment.Problem <br />
                        Date: @appointment.AppointmentDate.ToString("dd-MM-yyyy") <br />
                    </p>
                    <form asp-action="CloseAppointment" asp-Controller="Appointments" method="post" class="form-inline" onsubmit="return confirmCloseAppointment(this);">
                        <input type="hidden" name="appointmentId" value="@appointment.AppointmentID" />
                        <div class="form-group mr-2">
                            <input type="number" class="form-control-sm mb-2 mt-2" name="doctorFees" placeholder="Doctor Fees" required />
                        </div>
                        <div class="form-group mr-2">
                            <select name="paymentMode" class="form-control-sm mb-2 mt-2" required>
                                <option value="" disabled selected>Payment Mode</option>
                                <option value="Cash">Cash</option>
                                <option value="Card">Card</option>
                                <option value="Online">Online</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm mt-2 mb-2">Close Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        function confirmCloseAppointment(form) {
            var doctorFees = form['doctorFees'].value;
            var paymentMode = form['paymentMode'].value;

            if (doctorFees <= 0) {
                alert("Doctor's fees must be greater than zero.");
                return false;
            }

            if (!paymentMode) {
                alert("Please select a payment mode.");
                return false;
            }

            return confirm("Are you sure you want to close this appointment? Please ensure that the fees have been paid and the payment mode is correctly set.");
        }
    </script>
}